<%= link_to 'Back', root_path, class: "link back" %>
<% if admin? %>
  <%= link_to 'Create Item Listing', new_item_path, class: "button" %>
<% end %>

<h2>All Clothing</h2>
<% @items.each do |item| %>
  <div class='item-index'><h3><%= item.name %></h3><h4>Price</h4><%= item.price %><h4>In Stock<h4><%= item.quantity %><a href=<%= item.img_url %></a></div>
<% end %>
<!-- <div style="display: inline">a</div>
<div style="display: inline">b</div>
<div style="display: inline">c</div> -->
