<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="overlay">
      <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/items">Shop</a></li>
        <li><%= render "layouts/cart_text" %></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
    <%= yield %>
  </body>
</html>
